#geral{
    margin: 20px auto;
    padding: 20px;
    background-color: aliceblue;
    width: 450px;
    min-height: 450px;
    border-radius: 8px;
}

form{
    background-color:rgb(226, 232, 238);
    padding: 20px;
    margin: 70px 0px;
    width: 400px;
}

label, input{
    display: block;
    margin: 10px 0px;
}


#resultado{
    width: 400px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    border-radius: 8px;

}